@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2e2938;
    --foreground: #b4acf9;
  }
}

body {
  color: #ffffff;
  background: var(--background);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
